/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height:1.5;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,time{
    font-family: 'Karla', sans-serif;
}
/* css color variable */
 :root {
        --primary-color: rgb(35,41,70);
        --bg-color: rgb(223,236,255);
        --dark-text: rgb(2,5,17);
        --light-text: rgb(115, 115, 119);
        --secondary-color:rgb(249,35,77);
        --btn-color: rgb(249,35,77);
        --footer-colr:rgb(172,176,195);
}

/* General */
html{
    font-size: 16px;
}
a{
	text-decoration: none;
	color: #fff;
}
.container {
    /* max-width: 1330px; */
	max-width: 1280px;
	/* max-width: 1120px; */
    margin: 0 auto;
    padding: 0 5rem;
	width: 100%;
   
}
.flex{
	display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.item-start
{
	align-items: flex-start;
}
.flex-inline{
	display: flex;
	align-items: center;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.active{
    color:blue;
}
main{
    margin-top: 5rem;
}

h1{
font-size:2rem;
font-weight:700;
margin-bottom: 1rem;
text-align: center;
}
.score{
    text-align: center;
    font-weight: 700;
}
.user-score{
margin-right: 0.5rem;
}
.user-choice{
    font-weight: 700;
    margin-top: 1rem;
}
.computer-score{
    margin-left: 0.5rem;
}
.icons{
    margin-top: 1rem;
}
.button{
    margin-right: 2rem;
    font-size: 4rem;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.button:hover{
    /* color: blue; */
}
.computer-choice{
    font-weight: 700;
    margin-top: 1rem;
}
.user-icon{

}
.computer-icon{

}
.final{
    text-align: center;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    margin-right: 12rem;
    color:black;
    font-weight: 700;
}
.reset{
    padding: 0.5rem;
    background: red;
    color: #fff;
    cursor: pointer;
}
